.clockContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons {
  display: flex;
}

.clockContainer button {
  text-transform: uppercase;
  font-size: 1.1rem;

  cursor: pointer;

  border: none;
  border-radius: 5px;

  padding: 0.5rem;
  margin: 0 0.3rem;

  display: flex;
}

.clockTime {
  font-size: 2.5rem;
  margin: 1rem 0;
}
